################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/EdwardCurtinCurriculumVitae/config/applicationhost.config
/.vs/EdwardCurtinCurriculumVitae/DesignTimeBuild/.dtbcache.v2
/.vs/EdwardCurtinCurriculumVitae/FileContentIndex/read.lock
/.vs/EdwardCurtinCurriculumVitae/v17/.futdcache.v2
/.vs/EdwardCurtinCurriculumVitae/v17/.suo
/.vs/ProjectEvaluation/edwardcurtincurriculumvitae.metadata.v5.2
/.vs/ProjectEvaluation/edwardcurtincurriculumvitae.projects.v5.2
/CurriculumVitae.Common/obj/CurriculumVitae.Common.csproj.nuget.dgspec.json
/CurriculumVitae.Common/obj/CurriculumVitae.Common.csproj.nuget.g.props
/CurriculumVitae.Common/obj/CurriculumVitae.Common.csproj.nuget.g.targets
/CurriculumVitae.Common/obj/Debug/net6.0/CurriculumVitae.Common.GlobalUsings.g.cs
/CurriculumVitae.Common/obj/Debug/net6.0/CurriculumVitae.Common.csproj.FileListAbsolute.txt
/CurriculumVitae.Common/obj/Debug/net6.0/CurriculumVitae.Common.assets.cache
/CurriculumVitae.Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CurriculumVitae.Common/obj/Debug/net6.0/CurriculumVitae.Common.csproj.BuildWithSkipAnalyzers
/CurriculumVitae.Common/obj/project.assets.json
/CurriculumVitaeApi/bin/Debug/net6.0
/CurriculumVitaeApi/obj/Debug/net6.0/refint/CurriculumVitaeApi.dll
/CurriculumVitaeApi/obj/Debug/net6.0/staticwebassets
/CurriculumVitaeApi/obj/Debug/net6.0/ref
/CurriculumVitaeApi/obj/Debug/net6.0
/CurriculumVitaeApi/obj
/CurriculumVitaeApi/Properties
/CurriculumVitaeApi/appsettings.Development.json
/CurriculumVitaeDal/bin/Debug/net6.0
/CurriculumVitaeDal/obj/Debug/net6.0
/CurriculumVitaeDal/obj
/CurriculumVitaeDatabase/bin/Debug
/CurriculumVitaeDatabase/obj/Debug
*.dbmdl
*.jfm
/CurriculumVitaeDatabase/CurriculumVitae.Database.sqlproj.user
/EdwardCurtinCurriculumVitae/obj/Debug/net6.0
/EdwardCurtinCurriculumVitae/obj
/CurriculumVitae.Common/obj/project.nuget.cache
/CurriculumVitae.Common/bin/Debug/net6.0
/CurriculumVitae.Common/obj/Debug/net6.0
/EdwardCurtinCurriculumVitae/bin/Debug/net6.0
