@page "/counter"


<h3>ParentComponentCounter</h3>

<p role="status">Current count: @currentCount</p>

<Counter SetCurrentCount="SetCurrentCount"></Counter>

@code {
    private int currentCount;
    private void SetCurrentCount(int value)
    {
        currentCount = value;
    }
}
